*{
    box-sizing: border-box;
}

.sumir{
    display: none;
}

body{
    background-color: rgb(238, 249, 191);
}

h1{
    text-align: center;

    margin-top: 5vh;

    font-size: 56px;
    color: rgb(117, 183, 158);
    font-family: 'Roboto', sans-serif;
}

.jogo{
    margin: 5vh auto 0 auto;

    width: 65vw;

    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-column-gap: 5vw;
    grid-row-gap: 10px;
    justify-content: center;
}

.carta{
    width: 117px;
    height: 146px;

    background-color: rgb(167, 233, 175);

    border: 1px solid #99CEA8;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.carta img{
    width: 100px;
    height: 100px;
}

@media (max-width: 614px){
    h1{
        font-size: 36px;
    }

    .jogo{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carta{
        margin-bottom: 20px;
    }
}